body {
    background-image: url("./imgs/21NoneImage.png"), url("./imgs/nodrinkingunder21.jpeg");
    background-repeat: no-repeat, repeat;
}

#warningsign {
    max-width: 30vw;
    max-height: 60vw;
}