body {
    background-image: url(./imgs/21NoneImage.png);
}

#warningsign {
    max-width: 30vw;
    max-height: 60vw;
    position: absolute;
    right: 35vw;
    top: 15vw;
    opacity: 0.8;
}

.thankstitle{
    font-weight: bold;
    color: sandybrown;
    font-size: 48px;
    font-family: 'Staatliches', sans-serif;
    position: absolute;
    top: 0;
    right: 25vw;
    text-shadow: 15px 10px #ff0000;
    -webkit-text-stroke: 2px black;
}